{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Cache Builder plugin for Craft CMS
 *
 * CacheBuilderUtility Utility Content
 *
 * @author    Furbo GmbH
 * @copyright Copyright (c) 2022 Furbo GmbH
 * @link      https://furbo.ch
 * @package   CacheBuilder
 * @since     1.0.0
 */
#}

<h1>Cache Builder</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@furbo/cachebuilder/assetbundles/cachebuilderutilityutility/dist', true) ~ '/img/CacheBuilderUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>